PORT=3000

MONGODB_URL=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>

NODE_ENV=production

RESEND_API_KEY=re_your_resend_api_key

APP_URL=https://your-frontend-url.com

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

NEXT_PUBLIC_API_URL=https://sarnyfish.onrender.com
